### Joincersice!!!

In [ ]:
library(dplyr)

In [43]:
Names <- c("Tori", "Ben", "Hunter", "Runjini")
Macs <- c("MacBook", "Pro2014", "Pro2017", "Pro2011" )
Gender_Mac <- c("Female", "Male", "Male", "Female")
Mac <- data.frame(Names, Macs, Gender_Mac)

In [44]:
Names <- c("Jon", "Hunter", "Runjini")
Cars <- c("Fit", "Escape", "Mini")
Gender_Car <- c("Male", "Male", "Female")
Car <- data.frame(Names, Cars, Gender_Car)

In [49]:
Mac
Car

  Names   Macs    Gender_Mac
1 Tori    MacBook Female
2 Ben     Pro2014 Male
3 Hunter  Pro2017 Male
4 Runjini Pro2011 Female

  Names   Cars   Gender_Car
1 Jon     Fit    Male
2 Hunter  Escape Male
3 Runjini Mini   Female

In [45]:
# Showing all names of people that have macs (because its in the left hand dataframe)
left_join(Mac, Car, by="Names")

Warning message:
“Column `Names` joining factors with different levels, coercing to character vector”

  Names   Macs    Gender_Mac Cars   Gender_Car
1 Tori    MacBook Female     NA     NA
2 Ben     Pro2014 Male       NA     NA
3 Hunter  Pro2017 Male       Escape Male
4 Runjini Pro2011 Female     Mini   Female

In [46]:
# Showing all names of people that have cars (because its in the right hand dataframe)
right_join(Mac, Car, by="Names")

Warning message:
“Column `Names` joining factors with different levels, coercing to character vector”

  Names   Macs    Gender_Mac Cars   Gender_Car
1 Jon     NA      NA         Fit    Male
2 Hunter  Pro2017 Male       Escape Male
3 Runjini Pro2011 Female     Mini   Female

In [47]:
#Showing only the names that have both cars and macs
inner_join(Mac, Car, by="Names")

Warning message:
“Column `Names` joining factors with different levels, coercing to character vector”

  Names   Macs    Gender_Mac Cars   Gender_Car
1 Hunter  Pro2017 Male       Escape Male
2 Runjini Pro2011 Female     Mini   Female

In [48]:
#Showing names of everyone no matter what!
full_join(Mac, Car, by="Names")

Warning message:
“Column `Names` joining factors with different levels, coercing to character vector”

  Names   Macs    Gender_Mac Cars   Gender_Car
1 Tori    MacBook Female     NA     NA
2 Ben     Pro2014 Male       NA     NA
3 Hunter  Pro2017 Male       Escape Male
4 Runjini Pro2011 Female     Mini   Female
5 Jon     NA      NA         Fit    Male